@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1a1a1a;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  max-width: 720px;
  margin: auto auto;
}

.flex-container > details {
  display: block;
  width: 100%;
}

details summary::-webkit-details-marker {
  display: none;
}

details {
  background: #333;
  width: 100%;
}

details summary {
  list-style: none;
}

details summary::marker {
  display: none;
  visibility: hidden;
}

details summary > h1 {
  color: transparent;
  background: linear-gradient(45deg, white, orange, hotpink, blue, green);
  font-family: "Zen Tokyo Zoo";
  font-size: 24px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  background-clip: text;
  letter-spacing: .25em;
  -webkit-background-clip: text;
  -webkit-transition: letter-spacing .5s, -webkit-filter 1s;
  transition: letter-spacing .5s, -webkit-filter 1s;
  transition: letter-spacing .5s, filter 1s;
  transition: letter-spacing .5s, filter 1s, -webkit-filter 1s;
}

details summary > h1:hover {
  -webkit-filter: hue-rotate(90deg) invert(100%);
          filter: hue-rotate(90deg) invert(100%);
  letter-spacing: .15em;
}

details .flex-item {
  border-collapse: collapse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: auto;
  width: 100%;
}

details summary div.flex-item {
  background: #111;
}

details .flex-item > h2 {
  background: linear-gradient(45deg, white, red, orange, purple, white);
  background-clip: text;
  color: transparent;
  font-family: "Tourney";
  font-size: 20px;
  padding: 15px;
  -webkit-background-clip: text;
  letter-spacing: .25em;
  cursor: pointer;
  width: 100%;
  -webkit-transition: letter-spacing 1s, text-shadow .5s, -webkit-filter 1s;
  transition: letter-spacing 1s, text-shadow .5s, -webkit-filter 1s;
  transition: letter-spacing 1s, text-shadow .5s, filter 1s;
  transition: letter-spacing 1s, text-shadow .5s, filter 1s, -webkit-filter 1s;
}

details .flex-item > h2:hover {
  -webkit-filter: invert(100%) contrast(200%);
          filter: invert(100%) contrast(200%);
  letter-spacing: .15em;
  text-shadow: 3px 3px 15px hotpink;
  -webkit-animation: 1s ease-in-out 0s 1 bounce;
          animation: 1s ease-in-out 0s 1 bounce;
}

@-webkit-keyframes bounce {
  from {
    border-left: 50px groove red;
    border-right: 50px groove red;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    border-left: 0px groove red;
    border-right: 0px groove red;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes bounce {
  from {
    border-left: 50px groove red;
    border-right: 50px groove red;
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    border-left: 0px groove red;
    border-right: 0px groove red;
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

details .flex-item.img {
  border-bottom: 3px solid #666;
  padding: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

details .flex-item.img > .flex-item > h2 {
  -webkit-transition: unset;
  transition: unset;
  letter-spacing: normal;
  -webkit-animation: none;
          animation: none;
}

details .flex-item.img > .flex-item > h2:hover {
  -webkit-filter: none;
          filter: none;
  letter-spacing: normal;
  text-shadow: none;
}

details .flex-item img {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  -webkit-box-shadow: 0 3px 3px 3px #fff9;
          box-shadow: 0 3px 3px 3px #fff9;
}

details .flex-item > img:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
/*# sourceMappingURL=style.css.map */