@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1a1a1a;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 720px;
    margin: auto auto;
}

.flex-container > details {
    display: block;
    width: 100%;
}

details summary::-webkit-details-marker {
    display: none;
}

details {
    background: #333;
    width: 100%;

    summary {
        list-style: none;
        // visibility: hidden;
    }
    
    summary::marker {
        display: none;
        visibility: hidden;
    }

    summary > h1 {
        color: transparent;
        background: linear-gradient(45deg, white, orange, hotpink, blue, green);
        font-family: "Zen Tokyo Zoo";
        font-size: 24px;
        padding: 15px;
        text-align: center;
        cursor: pointer;
        background-clip: text;
        letter-spacing: .25em;
        -webkit-background-clip: text;
        transition: letter-spacing .5s, filter 1s;
    }

    summary > h1:hover {
        
        filter: hue-rotate(90deg) invert(100%);
        letter-spacing: .15em;
    }

    .flex-item {
        border-collapse: collapse;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        height: auto;
        width: 100%;
        // overflow: hidden;
    }

    summary div.flex-item {
        background: #111;
    }

    .flex-item > h2 {
        background: linear-gradient(45deg, white, red, orange, purple, white);
        background-clip: text;
        color: transparent;
        font-family: "Tourney";
        font-size: 20px;
        padding: 15px;
        -webkit-background-clip: text;
        letter-spacing: .25em;
        cursor: pointer;
        width: 100%;
        transition: letter-spacing 1s, text-shadow .5s, filter 1s;
    }

    .flex-item > h2:hover {
        filter: invert(100%) contrast(200%) ;
        letter-spacing: .15em;
        text-shadow: 3px 3px 15px hotpink;
        animation: .5s ease-in-out 0s 1 bounce;

        @keyframes bounce {
            0% {transform: translateY(-25px); margin-top: 25px;}
            50% {transform: translateY(5px); margin-bottom: 5px;}            
            100% {transform: translateY(0px); margin: 0px;}
        }
    }

    .flex-item.img {
        border-bottom: 3px solid #666;
        padding: 10px;
        align-items: flex-start;

    }

    .flex-item.img > .flex-item > h2 {
        transition: unset;
        letter-spacing: normal;
    }



    .flex-item.img > .flex-item > h2:hover {
        filter: none;
        letter-spacing: normal;
        text-shadow: none;
    }
    
    .flex-item img {
        width: 100%;
        height: auto;
        max-width: 500px;
        max-height: 500px;
        box-shadow: 0 3px 3px 3px #fff9;
    }

    .flex-item > img:hover {
        filter: invert(100%);
    }

}


